h1= title

hr

ul
    li
        a(href='/') home
    li
        a(href='/regelingen') regelingen
    li
        a(href='/systeembeheer') systeembeheer
    li
        a(href='/app/') app
    li
        a(href='/ondersteuning') ondersteuning


